.logoH{

    max-height: 70px;
    margin: 0%;
    padding: 0%;

}

body {
    background-image: url('../Recursos/bg.jpg');
    background-size: cover;
}

.unaCita{
    background-color: #ffffff81;
    border-color: #fff;
}

.proxPac{
    color: rgb(32, 32, 32);
}

.mb-0{
    font-weight: bold;
}