body {
    background-image: url('../Recursos/bg.jpg');
    background-size: cover;
    padding-top: 80px;
  }

.Desc{
    background-color: #0aa1dd63;
    color: white;
    font-size: 30px;
    border-radius: 0.3em;
    text-align: center;
}

.Galery{
    background-color: #2155cd6e;
}

.logoH{

    max-height: 70px;
    margin: 0%;
    padding: 0%;
}

.Login{
    background-color: #ffffff81;
    border-radius: 0.3em;
    padding: 50px;
    color: rgb(32, 32, 32);

}


.Registro{
    background-color: #768bd181;
    border-radius: 0.3em;
    padding: 10px;
    color: rgb(32, 32, 32);
    margin-top: 10px;
}

.medico{
    border-radius: 50%;
    height: 340px;
}

.paciente{
    border-radius: 50%;
    height: 340px;
}

.PerfilMedico{
    background-color: rgba(180, 219, 241, 0.61);
    padding: 50px;
    color: rgb(32, 32, 32);
    border-radius: 0.3em;
}
.PerfilPaciente{
    background-color: rgba(180, 219, 241, 0.61);
    padding: 50px;
    color: rgb(32, 32, 32);
    border-radius: 0.3em;
}

.area{
    height: 100%;
}

.MainContainer{

}

